.portfolio-container {
  height: 100%;
}

.gallery-container {
  position: relative;
}

.gallery {
  height: 100%;
  overflow-x: auto;
  position: relative;
  white-space: nowrap;
}

.gallery img {
  display: inline-block;
  margin-right: 10px;
  max-height: calc(100% - 30px);
  min-height: calc(100% - 30px);
}

.gallery img:last-child {
  margin-right: 0;
}

.gallery img.Loading {
  min-height: auto;
  margin: 0px 50px;
}

.gallery-info {
  display: inline-block;
  padding: 10px 40px 10px 0;
  vertical-align: top;
  width: 230px;
  white-space: normal;
  font-size: 14px;
}

.gallery-buttons {
  margin-bottom: 10px;
  margin-top: -8px;
}

.gallery-button {
  appearance: none;
  background: #444;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
}

.gallery-button:focus {
  outline: 0;
}

@media (max-width: 880px) {
  .gallery {
    height: auto;
    position: relative;
    white-space: normal;
  }

  .gallery img {
    max-width: 100%;
  }
}
