.gallery {
  height: 100%;
  overflow-x: auto;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.gallery > img {
  display: inline-block;
  margin-right: 10px;
  max-height: calc(100% - 30px);
  min-height: calc(100% - 30px);
}

.gallery-container {
  height: 95%;
}

.gallery img:last-child {
  margin-right: 0;
}

.gallery-info {
  display: inline-block;
  min-width: 300px;
  padding: 10px 40px 10px 0;
  vertical-align: top;
  width: 300px;
  white-space: normal;
}

.gallery-buttons {
  margin-bottom: 15px;
  margin-top: -18px;
}

.gallery-button {
  appearance: none;
  background: #fff;
  border: 0;
  border: 1px solid #444;
  color: #444;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
}

.gallery-button.active {
  background: #444;
  border: 1px solid #444;
  color: #fff;
}

.scroll-horizontal > div > img {
  max-height: calc(100% - 30px);
  min-height: calc(100% - 30px);
  margin-right: 10px;
}

.react-draggable {
  height: 100%;
  transform: translate(0px, 0px)!important;
}

.gallery-button:focus {
  outline: 0;
}

@media (max-width: 880px) {
  .gallery {
    height: auto;
    padding-bottom: 40px;
    position: relative;
    white-space: normal;
  }

  .gallery img {
    margin-right: 0;
    margin-top: 15px;
    max-width: 100%;
  }

  .gallery-info {
    width: 100%;
  }

  .gallery-button {
    margin-top: 15px;
  }
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide div,
.slick-slide div img {
  height: 100%;
  margin: 0 2px;
}

.slick-slide div .gallery-info {
  width: 100px !important;
  transform: translateX(calc((80vw / 3) * -1));
}

.slick-arrow {
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #444;
}

.slick-arrow:hover,
.slick-arrow:focus {
  background: #fff;
}

.slick-next {
  right: -60px;
}

.slick-prev {
  left: -60px;
}
