.Home {
  align-items: center;
  /* background: #4f4f4f; */
  display: flex;
  height: 100%;
  justify-content: center;
  border: 1px solid #444;
}

.Home p {
  font-weight: 700;
}

.Home img {
  max-height: 90%;
  max-width: 90%;
}
