.Home {
  height: 100%;
  display: flex;
  background-image: url('./mainimg.jpg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: flex-end;
}

.Home p {
  font-weight: 700;
}

.Home img {
  max-height: 100%;
  display: none;
}
