.MainNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.MainNav a,
.MainNavContainer > a {
  border: 1px solid #444;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
  padding: 0 10px;
  text-decoration: none;
  transition: background .1s ease-in;
}

.MainNav a:hover,
.MainNav a.active,
.MainNavContainer > a:hover,
.MainNavContainer > a.active {
  background: #444;
  color: #fff;
}

.MainNavContainer {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
