.App {
  width: 80vw;
  margin: 0 auto;
  height: 70vh;
}

.MainContainer {
  padding: 10px 0 0 0;
  height: 90%;
}

@media (max-width: 880px) {
  .App {
    height: auto;
    margin: 0;
    padding: 0 10px;
    width: 100%;
  }

}
